* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 500 16px 'Montserrat';

}


body {
    width: 1200px;
    margin: auto;
    background-color: #E5E5E5;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px 16px;
}

.form {
    color: #666666;


}

.img {
    background-image: url(.//assets/Chevron2.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 7px;
    background-size: contain;
}

.dropdown-list {
    color: #333333;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;



}

.dropdown-list div {
    display: flex;
    border: 1px solid #848282;
    width: 280px;
    background: #FFFFFF;
    align-items: center;
    padding: 20px 16px;


}